@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #525252;
    user-select: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height:45vh;
}

.metronome {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    justify-content: space-between;
}

.bpm-display {
    width: 100%;
    text-align: center;
    color: #fa545c;
    font-weight: bold;
}

.bpm-display .tempo {
    font-size: 4em;
    font-weight: bold;

}

.tempo-text {
    font-size: .8em;
    text-transform: uppercase;
    text-align: center;
}

.tempo-settings {
    display: flex;
    justify-content: space-between;
}

.tempo-settings .adjust-tempo-btn {
    width: 30px;
    height: 30px;
    font-size: 40px;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}

.tempo-settings .adjust-tempo-btn:hover {
    background: #fa545c;
    color: #FFF;
}

.tempo-settings .decrease-tempo {
    line-height: 25px;
}

.tempo-settings .increase-tempo {
    line-height: 29px;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: transparent;
    width: 70%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fa545c;
    cursor: pointer;
    margin-top: -8px;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fa545c;
    cursor: pointer;
    border: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    background: #ddd;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    background: #ddd;
}

.tap-tempo {
    width: 50px;
    height: 50px;
    font-size: 0.7em;
    text-align: center;
    background: #ddd;
    border: 1px solid #525252;
    border-radius: 50%;
    color: #fa545c;
    line-height: 50px;
    cursor: pointer;
    margin: 5px auto;
}

.tap-tempo:hover {
    background: #525252;
    color: #FFF;
}

.main-btns {
    display: flex;
}
.start-stop {
    width: 50px;
    height: 50px;
    font-size: 0.7em;
    text-align: center;
    background: #fa545c;
    border-radius: 50%;
    color: #FFF;
    line-height: 50px;
    margin: 0 auto;
    cursor: pointer;
}

.tempo-switch {
    width: 50px;
    height: 50px;
    font-size: 0.7em;
    text-align: center;
    background: #525252;
    border-radius: 50%;
    border: 1px solid #fa545c;
    color: #ddd;
    line-height: 50px;
    cursor: pointer;
    visibility: hidden;
}

.tempo-switch:hover {
    background: #ff656c;
}

.start-stop:hover {
    background: #ff656c;
}

.measures {
    display: flex;
    justify-content: center;
    margin: 8px auto;
}

.measures .stepper {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ddd;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
}

.measures .stepper:hover {
    background: #ff656c;
    color: #fff;
}

.measures .add-beats {
    line-height: 21px;
}

.beats-per-measure-text {
    text-align: center;
    font-size: 0.5em;
    text-transform: uppercase;
}

.open-playlist-btn {
    width: 100px;
    padding: 5px;
    text-align: center;
    margin: 20px auto;
    font-size: 0.7em;
    background: #fa545c;
    border-radius: 5%;
    color: #FFF;
    cursor: pointer;
}

.open-playlist-btn:hover {
    background: #ff656c;
}

.field-container {
    display: flex;
    margin-left: 55px;
    justify-content: space-between;
    width: 150px;
    visibility: hidden;
}

.remove-field-btn {
    font-size: 10px;
    color:#525252;
    padding: 5px;
    background: #FFF;
    border-radius: 5%;
    text-align: center;
    cursor: pointer;
}

.remove-field-btn:hover {
    color: #fa545c;
}

.field {
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: #525252;
    text-align: center;
    margin-left: 10px;
}

.field:hover {
    color: #ff656c;
}

.add-field-btn {
    font-size: 10px;
    color: #525252;
    padding: 5px;
    background: #FFF;
    border-radius: 5%;
    text-align: center;
    cursor: pointer;
}

.add-field-btn:hover {
    color: #fa545c;
}

.extra-field-container {
    display: flex;
    margin-top: 5px;
    margin-left: 107px;
    width: 150px;
    visibility: hidden;
}